# Node
node_modules

# Out
dist
logs

# Configs
config/*
!config/default.example.json

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IntelliJ
.idea
